@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #0b1020;
  --foreground: #e5e7eb;
  --accent: 215 25% 65%;
  --accent-foreground: 215 40% 12%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --font-oxanium: var(--font-oxanium);
  --font-outfit: var(--font-outfit);
  --font-sawarabi: var(--font-sawarabi);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070a14;
    --foreground: #e5e7eb;

    --accent: 215 25% 65%;
    --accent-foreground: 215 40% 12%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sawarabi);
}
